<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>

<div class="theme-toggle" onclick="toggleTheme()">🌙</div>

<div class="container">
  <h1>Welcome to YUVAN</h1>
  <p>Join our platform and explore amazing features 🚀</p>

  <a class="btn" href="/home/register">Register</a>
  <a class="link" href="/home/login">Already have account? Login</a>
</div>


</body>
<script>
function toggleTheme(){
  document.body.classList.toggle("light");
}
</script>
</html>
