<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>

<div class="theme-toggle" onclick="toggleTheme()">🌙</div>

<div class="container">
  <h1>Welcome <%= user.name %> 👋</h1>
  <p>You are successfully logged in!</p>

  <a class="btn" href="/">Go Home</a>
</div>

</body>
<script>
function toggleTheme(){
  document.body.classList.toggle("light");
}
</script>
</html>
